*{margin: 0 auto; font-family: Helvetica, Arial, Sans-Serif; font-weight: lighter; text-decoration: none; list-style: none;}

.contMain{float: left; width: 100%; margin-top: 120px;}

.contSecound .nav{position: fixed; margin-top: 23px;}

.contForm{float: left; width: 100%; margin: 40px 0 0 0;}

.titleCont{float: left; font-size: 30px; border-bottom: 3px rgba(42,8,43,.9) solid; padding: 0 15px 0 15px; margin-left: 15%;}

.descCont{float: left; width: 100%; text-indent: 15%; margin: 10px 0 0 0;}

.lbIdDictionary, .lbIdShorten{float: left; width: 100%; font-size: 18px; text-indent: 15%; margin-top: 40px;}

.lbIdDictionary:first-child, .lbIdShorten:first-child{margin-top: 0;}

.iptIdDictionary, .iptIdShorten{float: left; width: 50%; height: 34px; font-size: 18px; border: 2px rgba(42,8,43,.9) solid; border-radius: 7px; margin: 5px 0 0 15%;}

.iptIdDictionary:hover, .iptIdDictionary:focus, .iptIdShorten:hover, .iptIdShorten:focus{border-bottom: 5px rgba(42,8,43,.9) solid; }

.btn{float: left; width: 120px; height: 61px; background: rgba(42,8,43,.9); font-size: 18px; color: #fff; border: none; border-radius: 7px; margin: 74px 0 0 -119px;}

.btn:hover{cursor: pointer;}

.btn:hover, .btn:focus{border: #fff 1px solid; border-radius: 10px;}

.returnObjectUrl{float: left; color: rgba(42,8,43,.9); text-decoration: underline; font-weight: bold; margin: 24px 0 0 15%;}

@media screen and (max-width: 1023px) {
	.titleCont{font-size: 23px; margin-left: 10px;}
	
	.descCont{font-size: 16px; margin: 10px 0 0 0; text-indent: 0;}
	
	.contSecound .nav{position: fixed; width: 128px; margin-top: 16px; right: 0;}

	.lbIdDictionary, .lbIdShorten{text-indent: 10px;}
	
	.iptIdDictionary, .iptIdShorten{margin-left: 10px;}

	.returnObjectUrl{margin-left: 0;}	
}

